language: r

sudo: required

compiler:
  - g++

r_packages:
  - assertive
  - devtools
  - Rcpp
  - RcppArmadillo
  - BH
  - bigmemory.sri

r_github_packages:
  - kaneplusplus/bigmemory
  - cdeterman/bigalgebra

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
  - sudo apt-get install -qq fglrx=2:8.960-0ubuntu1 opencl-headers libboost-program-options-dev
  - cd ..
  - git clone http://github.com/arrayfire/clBLAS.git
  - cd clBLAS
  - mkdir -p build && cd build
  - cmake ../src -DCMAKE_BUILD_TYPE=Release
  - make && sudo make install
  - export LD_LIBRARY_PATH=/usr/local/lib64:${LD_LIBRARY_PATH}
  - export LD_RUN_PATH=/usr/local/lib64:${LD_RUN_PATH}
  - cd ${TRAVIS_BUILD_DIR}
  - sudo apt-get install -qq g++-4.8
  - export CXX="g++-4.8"

env:
 global:
   - CRAN: http://cran.rstudio.com

notifications:
  email:
    on_success: change
    on_failure: change
